.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.login-page-title {
    margin-top: 8vh;
    margin-bottom: 8vh;
    font-size: clamp(2rem, 5vw, 3rem);
}

.section-container {
    width: 90%;
    max-width: 400px;
    height: clamp(400px, 50%, 500px);
    background-color: rgb(241, 241, 231);
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

form {
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

mat-form-field {
  width: 55%;
}

mat-icon {
    font-size: 20px;
}

.login-btn {
    margin-top: 15px;
}

.login-error {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: rgb(214, 19, 19);
}

.divider {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    color: rgb(174, 168, 168);
    margin-top: 5vh;
}

.divider::before,
.divider::after {
    content: '';
    flex-grow: 1;
    height: 1px;
    background-color: rgb(174, 168, 168);
    margin: 0 2%;
}

.register-section {
    margin-top: 7vh;
    margin-bottom: 7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.no-user {
    margin-bottom: 7px;
    font-size: 1rem;
}

@media (max-height: 685px) {
    .login-page-title {
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-size: clamp(1rem, 5vw, 2rem);
    }

    mat-form-field {
        width: 30vh;
        height: 11vh;
    }

    .login-btn {
        width: 5vh;
        height: 5vh;
        font-size: 13px;
        margin-top: 10px;
    }

    .register-btn {
        width: 5vh;
        height: 5vh;
        font-size: 13px;
        margin-top: 10px;
    }

    .divider {
        margin-top: 3vh;
        display: flex;
        align-items: center;
        flex-direction: row;
    }
}