<main class="register-container">
    <h1>הרשמה למערכת</h1>
    <div class="section-container">
        <form [formGroup]="registrationForm">
            <mat-form-field>
                <input formControlName="firstName" matInput placeholder="שם פרטי">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="lastName" matInput placeholder="שם משפחה">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="username" matInput placeholder="שם משתמש">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="password" type="password" matInput placeholder="סיסמה">
            </mat-form-field>
            <mat-form-field>
                <input formControlName="passwordConfirmation" type="password" matInput placeholder="אישור סיסמה">
            </mat-form-field>
            <button mat-stroked-button class="register-btn" type="button" (click)="register()">הירשם</button>

            <label class="error-message">{{ errorMessage }}</label>

            <ng-template #successDialog>
                <mat-dialog-content>
                    {{ successMessage }}
                    <mat-progress-spinner [diameter]="50" [strokeWidth]="5" mode="indeterminate"></mat-progress-spinner>
                </mat-dialog-content>
            </ng-template>
        </form>

        <div class="divider">או</div>

        <div class="login-section">
            <label class="have-user-title">יש לך משתמש?</label>
            <button mat-stroked-button class="login-btn" type="button" [routerLink]="[ROUTES.LOGIN.path]">התחבר</button>
        </div>
    </div>
</main>