<main class="register-container">
    <h1 class="register-page-title">הרשמה למערכת</h1>
    <div class="section-container">
        <form [formGroup]="registrationForm" (ngSubmit)="register()">
            <mat-form-field>
                <mat-label class="placeholder">שם פרטי</mat-label>
                <input formControlName="firstName" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="placeholder">שם משפחה</mat-label>
                <input formControlName="lastName" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="placeholder">שם משתמש</mat-label>
                <input formControlName="username" matInput>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="placeholder">סיסמה</mat-label>
                <input [type]="hidePassword ? 'password' : 'text'" formControlName="password" matInput>
                <button *ngIf="isFieldNotEmpty('password')" mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <mat-form-field>
                <mat-label class="placeholder">אישור סיסמה</mat-label>
                <input [type]="hidePasswordConfirmation ? 'password' : 'text'" formControlName="passwordConfirmation" matInput>
                <button *ngIf="isFieldNotEmpty('passwordConfirmation')" mat-icon-button matSuffix (click)="hidePasswordConfirmation = !hidePasswordConfirmation" type="button">
                    <mat-icon>{{ hidePasswordConfirmation ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>
            <button mat-stroked-button class="register-btn" type="submit">הירשם</button>

            <label class="error-message">{{ registerError }}</label>

            <ng-template #successDialog>
                <mat-dialog-content>
                    {{ successMessage }}
                    <mat-progress-spinner [diameter]="50" [strokeWidth]="5" mode="indeterminate"></mat-progress-spinner>
                </mat-dialog-content>
            </ng-template>
        </form>

        <div class="divider">או</div>

        <div class="login-section">
            <label class="have-user-title">יש לך משתמש?</label>
            <button mat-stroked-button class="login-btn" type="button" [routerLink]="[ROUTES.LOGIN.path]">התחבר</button>
        </div>
    </div>
</main>