.track-table-container {
    height: 830px;
    width: 750px;
    background-color: rgb(194, 185, 143);
    display: flex;
    flex-direction: column;
    border-top: 2px solid rgba(39, 32, 32, 0.463);
    border-right: 1px solid rgba(39, 32, 32, 0.463);
    border-left: 1px solid rgba(39, 32, 32, 0.463);
    border-radius: 3px;
}

mat-option {
  min-height: 28px !important;
  font-size: 14px;
}

::ng-deep .time-dropdown .mat-mdc-form-field-subscript-wrapper {
  height: 0;
}

.track-container {
    height: 50px;
    width: 100% - 2px;
    background-color: rgb(221, 216, 190);
    display: flex;
    border: 1px solid rgba(39, 32, 32, 0.463);
    border-radius: 7px;
    color: rgb(69, 66, 66);
    align-items: center;
}

.track-container label {
  width: 100%;
}

#track-id {
  margin-right: 7px;
}

.track-container .detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.detail .field-name {
  font-weight: 600;
}

.seperator {
  display: flex;
  background-color: rgb(69, 66, 66);
  height: 100%;
  width: 1px;
  margin-right: 7px;
  margin-left: 7px;
}