@use '@angular/material' as mat;

html {
  @include mat.theme((
    color: (
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  color-scheme: light;

  background-color: rgb(231, 231, 221);
  color: rgb(212, 175, 55);
}

.custom-success-dialog {
  background-color: rgb(241, 241, 231);
  border-radius: 12px;
  padding: 20px;
}

.custom-success-dialog mat-dialog-content {
  font-size: 18px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  direction: rtl;
}

.custom-success-dialog mat-progress-spinner {
  margin-top: 20px;
}

.mat-mdc-progress-spinner .mdc-circular-progress__indeterminate-circle-graphic {
  stroke: rgb(212, 175, 55) !important;
}